<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/image/weather_icon.png">
        <link rel="stylesheet" href="/css/styling.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        {{errorMessage}}

        </div>
        {{>footer}}
    </body>
</html>