<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather_icon1.png">
        <link rel="stylesheet" href="/css/styling.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>This is a about page!<br>We are elated to have you.<br>This application is all about knowing your weather in a snap!</p>
        </div>
        {{>footer}}
    </body>
</html>